body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f4f8;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

th:nth-child(3) { /* Estilo especial para la columna de PTS */
    background-color: #4CAF50;
    color: #fff;
}

td {
    color: #555;
}

td:nth-child(3) { /* Estilo especial para los valores de PTS */
    background-color: #e8f5e9;
    font-weight: bold;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.edit-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.edit-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}
